@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

:root {
    // --color-header: #F58021;
    // --color-dark-header: #D26004;
    // --color-primary: #00A092;
    // --color-navy: #20113D;
    // --color-black: #000;
    // --color-black-bkg: rgba(0, 0, 0, 0.8);
    // --color-white: #fff;
    --color-navy-background: #07062E;
    --color-header-background: #11183A;
    --color-background: #0C1022;    
    --color-font-gray: #AFABCA;
    --color-font-white: #FFFFFF;
    --color-font-primary: #00FFD1;
    --color-border: #00C2FF;
      
    // --fs-h2: 72px;
    // --fs-h3: 3.375em;
    // --fs-h4: 3.375em;
    // --fs-h5: 3.375em;
    // --fs-h6: 1.625em;
    // --fs-h7: 1.625em;
    // --fs-p: 1.125em;

    --fw-h2: 600;
    --fw-h3: 600;
    --fw-h4: 600;
    --fw-h5: 600;
    --fw-h6: 500;
    --fw-h7: 500;
    --fw-p: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all 0.4s;
}

// Header --------------------
.header {
    background-color: var(--color-navy-background); 

    &__heading {
        display: none;
    }    

    &__nav {
        margin: 0 auto;
        max-width: 1920px;              

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            font-size: 12px;  
            font-weight: 500;                     
        }

        &--mid {
            display: flex;
            justify-content: space-between;
            align-items: center;  
            background-color: var(--color-header-background);
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;  
        }        
    }  
    
    &__btn {
        &-in {            
            padding: 8px 20px;        
        }

        &-up {            
            padding: 10px 45px; 
        }
    }    
}

.btn-trans {
    color: var(--color-font-white);
    border-radius: 30px;
    border: 2px solid var(--color-border);
    text-transform: uppercase;
    font-style: italic;
    padding: 8px 20px;
}

.btn-grad {
    color: var(--color-font-white);
    background: linear-gradient(90deg, #00B2FF 3.1%, #8F00FF 96.08%);
    border-radius: 30px;
}

.nav {
    &__list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    padding: 0;
    color: var(--color-font-gray);
    font-family: 'Roboto', sans-serif;
    
        &--top-left {
            justify-content: space-between;
            padding: 7px 20px;
            width: 345px;
            margin: 0;
        }

        &--top-right {
            padding: 5px 20px;
            margin: 0;  
            column-gap: 8px;   
        }

        &--mid-left {
            width: 840px;
            padding: 14px 20px;
            margin: 0;
        }

        &--mid-right {
            margin: 6px 20px;
            font-size: 14px;
            font-weight: 900;
            font-style: italic;
            column-gap: 20px;            
        }

        &--bottom {
            padding: 10px 20px;
            margin: 0;
            font-size: 14px;
            font-weight: 500;  
        }
    }   
    
    &__item {        
        &--top-right--img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &--mid-more {
            border: 2px solid var(--color-border);
            padding: 8px 15px; 
            border-radius: 30px;
            display: flex;
            column-gap: 13px;
            font-style: italic;
            font-size: 14px;
        }
    }
        
    &-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

// Section Welcome
.welcome {
    background-color: var(--color-navy-background);    

    &__inner {
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        background-image: url(/assets/banner.jpg);
        background-repeat: no-repeat;
        height: 640px;
        background-size: contain;

        &--content {
            padding: 110px 120px;
        }
    }

    &__h7 {
        color: var(--color-font-primary);
        font-size: 21px;
        font-weight: 700;  
    }

    &__h2 {
        color: var(--color-font-white);
        font-size: 72px;
        font-style: italic;
        font-weight: 900;  
        width: 800px;
        line-height: 93px;
        margin: 30px 0 16px;
    }

    &__h6 {
        color: var(--color-font-gray);
        font-weight: 500; 
        width: 530px; 
        font-size: 24px;
        margin: 0;
    }

    &__nav {
        display: flex;
        position: absolute;
        bottom: -40px;
        left: 880px;
        column-gap: 26px;

        &--circles {
            height: 14px;
            width: 14px;
            border: 3px solid #58009E;
            border-radius: 50%;

            &:first-child {
                background-color: #58009E;
            }
        }
    }
}

// Section Popular
.popular {
    background-color: var(--color-background);
    
    &__inner {
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: var(--color-font-white);
    }

    &__title {
        margin: 120px auto 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1546px;

        &--h3 {
            font-size: 48px;
            text-transform: uppercase;
            font-style: italic;
            margin: 0;
        }   

        &--btn-top {
            font-size: 14px;
        }
    }

    &__games {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 364px);
        grid-template-rows: repeat(3, 244px);
        column-gap: 30px;
        row-gap: 30px;
        position: relative;
    }

    &__game {
        background-size: cover;
        transition: all 0.4s;

        &--1 {
            background-image: url(/assets/popular-game1.png);
        }
        &--2 {
            background-image: url(/assets/popular-game2.png);
        }
        &--3 {
            background-image: url(/assets/popular-game3.png);
        }
        &--4 {
            background-image: url(/assets/popular-game4.png);
        }
        &--5 {
            background-image: url(/assets/popular-game5.png);
        }
        &--6 {
            background-image: url(/assets/popular-game6.png);
        }
        &--7 {
            background-image: url(/assets/popular-game7.png);
        }
        &--8 {
            background-image: url(/assets/popular-game8.png);
        }
        &--9 {
            background-image: url(/assets/popular-game9.png);
        }
        &--10 {
            background-image: url(/assets/popular-game10.png);
        }
        &--11 {
            background-image: url(/assets/popular-game11.png);
        }
        &--12 {
            background-image: url(/assets/popular-game12.png);
        }

        &--content {
            display: none;
            // text-align: center;
            // margin-top: 160px;
            // align-items: center;
            // justify-content: center;
            // column-gap: 20px;

            // &:hover {
            //     display: flex;
            //     text-align: center;
            //     margin-top: 160px;
            //     align-items: center;
            //     justify-content: center;
            //     column-gap: 20px;
            // }
        }

        &--fav {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 50%;
                border: 2px solid var(--color-border);
                padding: 3px;

                &:hover {  
                    background: linear-gradient(to right, #00B2FF, #8F00FF);
                    cursor: pointer;         
                }
            }            
        }

        &--demo,
        &--play {
        //     color: var(--color-font-white);
        //     font-size: 14px;
        //     font-style: italic;
        //     font-weight: 900;
        //     text-transform: uppercase;

            &:hover {  
                background: linear-gradient(to right, #00B2FF, #8F00FF);
                cursor: pointer;
            }
        }
    }

    &__btn-bottom {
        width: 280px;
        text-align: center;
        margin: 40px auto 230px;
        font-size: 16px;
        font-style: italic;
        font-weight: 900;
        text-transform: uppercase;
        padding: 10px 20px;
    }
}

.popular__game:hover {
    transform: scale(0.98);

    .popular__game--content {
            display: flex;
            text-align: center;
            margin-top: 160px;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
        }
}

.new {
    background: linear-gradient(258.64deg, #4E3A7A 1.78%, #2D1660 90.85%);

    &__inner {
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: var(--color-font-white);
        // background-image: url(/assets/new-bg1.png);
        background-image: url(/assets/new-bg1.png), url(/assets/new-image1.png), url(/assets/new-image2.png), url(/assets/new-bg2.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom, top right, top left, 0 -150px;
    }

    // &__bg-img {
    //     background-image: url(/assets/new-bg2.png);
    //     background-size: contain;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 99;
    // }
}