@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
:root {
  --color-navy-background: #07062E;
  --color-header-background: #11183A;
  --color-background: #0C1022;
  --color-font-gray: #AFABCA;
  --color-font-white: #FFFFFF;
  --color-font-primary: #00FFD1;
  --color-border: #00C2FF;
  --fw-h2: 600;
  --fw-h3: 600;
  --fw-h4: 600;
  --fw-h5: 600;
  --fw-h6: 500;
  --fw-h7: 500;
  --fw-p: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__heading {
  display: none;
}

.header__nav {
  margin: 0 auto;
  max-width: 1920px;
}

.header__nav--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.header__nav--mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-header-background);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.header__btn-in {
  padding: 8px 20px;
}

.header__btn-up {
  padding: 10px 45px;
}

.btn-trans {
  color: var(--color-font-white);
  border-radius: 30px;
  border: 2px solid var(--color-border);
  text-transform: uppercase;
  font-style: italic;
  padding: 8px 20px;
}

.btn-grad {
  color: var(--color-font-white);
  background: -webkit-gradient(linear, left top, right top, color-stop(3.1%, #00B2FF), color-stop(96.08%, #8F00FF));
  background: linear-gradient(90deg, #00B2FF 3.1%, #8F00FF 96.08%);
  border-radius: 30px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  color: var(--color-font-gray);
  font-family: 'Roboto', sans-serif;
}

.nav__list--top-left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 20px;
  width: 345px;
  margin: 0;
}

.nav__list--top-right {
  padding: 5px 20px;
  margin: 0;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.nav__list--mid-left {
  width: 840px;
  padding: 14px 20px;
  margin: 0;
}

.nav__list--mid-right {
  margin: 6px 20px;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.nav__list--bottom {
  padding: 10px 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.nav__item--top-right--img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav__item--mid-more {
  border: 2px solid var(--color-border);
  padding: 8px 15px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  font-style: italic;
  font-size: 14px;
}

.nav-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome__inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-image: url(/assets/banner.jpg);
  background-repeat: no-repeat;
  height: 640px;
  background-size: contain;
}

.welcome__inner--content {
  padding: 110px 120px;
}

.welcome__h7 {
  color: var(--color-font-primary);
  font-size: 21px;
  font-weight: 700;
}

.welcome__h2 {
  color: var(--color-font-white);
  font-size: 72px;
  font-style: italic;
  font-weight: 900;
  width: 800px;
  line-height: 93px;
  margin: 30px 0 16px;
}

.welcome__h6 {
  color: var(--color-font-gray);
  font-weight: 500;
  width: 530px;
  font-size: 24px;
  margin: 0;
}

.welcome__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -40px;
  left: 880px;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.welcome__nav--circles {
  height: 14px;
  width: 14px;
  border: 3px solid #58009E;
  border-radius: 50%;
}

.welcome__nav--circles:first-child {
  background-color: #58009E;
}

.popular {
  background-color: var(--color-background);
}

.popular__inner {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-font-white);
  background-image: url(/assets/new-bg1.png), url(/assets/new-image1.png), url(/assets/new-image2.png), url(/assets/new-bg2.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, top 1225px right, top 1275px left, 0 1150px;
}

.popular__title {
  margin: 120px auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1546px;
}

.popular__title--h3 {
  font-size: 48px;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
}

.popular__title--btn-top {
  font-size: 14px;
}

.popular__title--new {
  margin-top: 0;
}

.popular__games {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (364px)[4];
      grid-template-columns: repeat(4, 364px);
  -ms-grid-rows: (244px)[3];
      grid-template-rows: repeat(3, 244px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  position: relative;
}

.popular__game {
  background-size: cover;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.popular__game--1 {
  background-image: url(/assets/popular-game1.png);
}

.popular__game--2 {
  background-image: url(/assets/popular-game2.png);
}

.popular__game--3 {
  background-image: url(/assets/popular-game3.png);
}

.popular__game--4 {
  background-image: url(/assets/popular-game4.png);
}

.popular__game--5 {
  background-image: url(/assets/popular-game5.png);
}

.popular__game--6 {
  background-image: url(/assets/popular-game6.png);
}

.popular__game--7 {
  background-image: url(/assets/popular-game7.png);
}

.popular__game--8 {
  background-image: url(/assets/popular-game8.png);
}

.popular__game--9 {
  background-image: url(/assets/popular-game9.png);
}

.popular__game--10 {
  background-image: url(/assets/popular-game10.png);
}

.popular__game--11 {
  background-image: url(/assets/popular-game11.png);
}

.popular__game--12 {
  background-image: url(/assets/popular-game12.png);
}

.popular__game--content {
  display: none;
}

.popular__game--fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__game--fav img {
  border-radius: 50%;
  border: 2px solid var(--color-border);
  padding: 3px;
}

.popular__game--fav img:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00B2FF), to(#8F00FF));
  background: linear-gradient(to right, #00B2FF, #8F00FF);
  cursor: pointer;
}

.popular__game--demo:hover, .popular__game--play:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00B2FF), to(#8F00FF));
  background: linear-gradient(to right, #00B2FF, #8F00FF);
  cursor: pointer;
}

.popular__btn-bottom {
  width: 280px;
  text-align: center;
  margin: 40px auto 430px;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 20px;
}

.popular__btn-bottom--new, .popular__btn-bottom--super {
  margin-bottom: 120px;
}

.popular__game:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.popular__game:hover .popular__game--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.new__inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-font-white);
}

.super__inner {
  background-color: #4E3979;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-font-white);
  position: relative;
}

.super__bg-element {
  position: absolute;
  bottom: -170px;
}

.jackpots__inner {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-font-white);
  background-image: url(/assets/super-bg1.png), url(/assets/super-bg2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top, 0 830px;
}

.jackpots__container {
  margin: 0 auto;
}

.jackpots__title {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-style: italic;
  margin: 150px 0 40px;
}

.jackpots__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 105px;
          column-gap: 105px;
  margin-bottom: 355px;
}

.jackpots__jackpot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 120px;
}

.jackpots__jackpot--title {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

.jackpots__jackpot--title--mega {
  color: #E5E9F1;
}

.jackpots__jackpot--title--ultra {
  color: #FCF066;
}

.jackpots__jackpot--title--super {
  color: #E3A84F;
}

.news__container {
  margin: 0 auto;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  font-family: 'Roboto', sans-serif;
}

.news__slots--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 364px;
  height: 490px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news__slots--link:hover {
  -webkit-box-shadow: 0px 0px 40px 0px #8F00FF;
          box-shadow: 0px 0px 40px 0px #8F00FF;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.news__slots--pict {
  width: 100%;
  height: 244px;
  background-color: #C4C4C4;
  border-radius: 10px 10px 0 0;
}

.news__slots--description {
  width: 100%;
  height: 246px;
  background-color: #10183A;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__slots--date {
  font-size: 16px;
  color: var(--color-font-gray);
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.news__slots--title {
  font-size: 24px;
  color: var(--color-font-white);
  margin: 0;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
}

.news__slots--btn {
  font-style: normal;
  justify-self: flex-end;
  width: 172px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.news__btn-left {
  padding: 15px 25px 15px 20px;
  border-radius: 50%;
  border: 3px solid #311B60;
}

.news__btn-right {
  padding: 15px 20px 15px 25px;
  border-radius: 50%;
  border: 3px solid #00C2FF;
}

.popular__btn-bottom--super {
  margin: 40px auto 120px;
}

.winners__inner {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #231950;
}

.winners__title {
  font-size: 48px;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  color: var(--color-font-white);
  width: 1546px;
  margin: 60px auto 30px;
}

.winners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  font-family: 'Roboto', sans-serif;
}

.winners__slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.winners__slots--link {
  width: 285px;
  height: 191px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 20px 0px #00FFD180;
          box-shadow: 0px 0px 20px 0px #00FFD180;
}

.winners__slots--link1 {
  background-image: url(/assets/winners-1.jpg);
}

.winners__slots--link2 {
  background-image: url(/assets/winners-2.jpg);
}

.winners__slots--link3 {
  background-image: url(/assets/winners-3.jpg);
}

.winners__slots--link4 {
  background-image: url(/assets/winners-4.jpg);
}

.winners__slots--link5 {
  background-image: url(/assets/winners-5.jpg);
}

.winners__slots--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58px;
  background-color: #2C1A63;
  border-radius: 0 0 8px 8px;
}

.winners__slots--nick {
  font-size: 18px;
  color: var(--color-font-white);
  text-transform: uppercase;
  font-weight: 700;
}

.winners__slots--usd {
  font-size: 18px;
  color: var(--color-font-primary);
  text-transform: uppercase;
  font-weight: 700;
}

.seo__inner {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #10183A;
}

.seo__title {
  font-size: 48px;
  text-transform: uppercase;
  font-style: italic;
  color: var(--color-font-white);
  text-align: center;
  margin: 120px auto 20px;
}

.seo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 80px;
  font-family: 'Roboto', sans-serif;
  width: 880px;
  height: 360px;
  overflow-y: scroll;
  margin-bottom: 120px;
}

.seo__p {
  color: var(--color-font-gray);
  margin: 10px 0;
}
/*# sourceMappingURL=main.css.map */