@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
:root {
  --color-header: #F58021;
  --color-dark-header: #D26004;
  --color-primary: #00A092;
  --color-navy: #20113D;
  --color-black: #000;
  --color-white: #fff;
  --fs-h3: 3.375em;
  --fs-h5: 1.625em;
  --fs-p: 1.125em;
  --fw-h3: 600;
  --fw-h5: 500;
  --fw-p: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-white);
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

header,
section {
  margin: 0 auto;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: var(--color-dark-header);
}

.link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.link:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header {
  background-color: var(--color-header);
}

.header__heading {
  display: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: var(--fs-p);
}

.header__hamburger {
  display: none;
}

.header__hamburger-close {
  display: none;
}

.nav__list {
  list-style: none;
}

.nav__list--main {
  width: 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 65px;
  text-transform: uppercase;
  margin: 0;
}

.nav__item {
  color: var(--color-primary);
}

.nav__link {
  color: var(--color-black);
  text-decoration: none;
}

.nav__list--social {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

@media (max-width: 1920px) {
  .header__container {
    width: 1000px;
  }
}

@media (max-width: 1200px) {
  .header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
  }
  .header__container {
    max-width: 573px;
  }
  .header__nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-navy);
    width: 50vw;
    height: 100vh;
    z-index: 999;
  }
  .header__hamburger {
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .header__hamburger:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header__hamburger-close {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 40px 57px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .header__hamburger-close:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header__nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__list--main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin-top: 40px;
    width: 125px;
    height: 335px;
    text-align: center;
  }
  .nav__link {
    color: var(--color-white);
  }
  .nav__list--social {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    position: static;
  }
  .header__container {
    max-width: 264px;
  }
  .header__nav {
    width: 75vw;
  }
  .header__hamburger-close {
    padding: 40px 35px;
  }
  .nav__list--main {
    margin-top: 20px;
    height: 295px;
  }
}

.footer {
  background-color: var(--color-navy);
  color: var(--color-white);
}

.footer__inner {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 82px;
}

.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
}

.nav__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: var(--fs-p);
  font-weight: var(--fw-h3);
  gap: 46px;
  width: 426px;
}

.nav__link--footer {
  color: var(--color-white);
}

.nav__list--foot-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 0;
}

.footer__btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: .3em;
  font-size: var(--fs-p);
  font-weight: var(--fw-h3);
  text-transform: uppercase;
  padding: 26px 34px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__btn-link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer__btn-link img {
  margin-left: 10px;
}

.footer__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  padding-bottom: 36px;
}

.footer__secondary::before {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  height: 1px;
  top: 241px;
}

.footer__production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
}

.footer__p {
  margin: 0;
}

@media (max-width: 1920px) {
  .footer {
    position: relative;
  }
  .footer__inner {
    max-width: 1120px;
  }
  .footer__main {
    padding-top: 70px;
  }
  .footer__logos {
    gap: 30px;
  }
  .footer__secondary {
    margin-top: 105px;
  }
  .footer__secondary::before {
    display: none;
  }
  .footer::before {
    content: "";
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    height: 1px;
    top: 220px;
  }
  .nav__list--footer {
    width: 347px;
    gap: 20px;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .footer__inner {
    max-width: 450px;
  }
  .footer__main {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logos {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
  }
  .footer__secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 100px;
    padding-bottom: 50px;
  }
  .footer::before {
    top: 345px;
  }
  .nav__list--foot-social {
    margin-bottom: 30px;
    padding: 0;
  }
  .nav__list--footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 450px;
    margin: 50px auto 50px;
  }
}

@media (max-width: 640px) {
  .footer__inner {
    max-width: 300px;
  }
  .footer__main {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__secondary {
    margin-top: 30px;
  }
  .footer::before {
    top: 500px;
  }
  .footer__btn-link {
    text-transform: none;
    padding: 11.5px 30px;
  }
  .footer__production {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__p {
    margin-top: 30px;
  }
  .nav__list--foot-social {
    margin-bottom: 30px;
  }
  .nav__list--footer {
    width: 300px;
    margin: 30px auto 30px;
    font-size: 15px;
  }
}

.contact__inner {
  width: 1400px;
  margin: 0 auto;
}

.contact__big-img {
  border-radius: .3em;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
  padding-bottom: 150px;
}

.contact__first-content {
  width: 545px;
}

.contact__heading {
  font-size: var(--fs-h3);
  font-weight: var(--fw-h3);
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.contact__description {
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
  margin: 50px 0 0;
  padding: 0;
  line-height: 150%;
}

.contact__second-content {
  width: 680px;
}

.contact__span {
  color: var(--color-primary);
}

.contact__label {
  display: block;
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
}

.contact__input {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
  padding: 20px;
  width: calc(680px - 40px);
  vertical-align: top;
}

.contact__textarea {
  font-size: var(--fs-p);
  font-weight: var(--fw-p);
  padding: 20px;
  height: 200px;
  width: calc(680px - 40px);
  margin: 10px 0 67px;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 0.1px solid var(--color-primary);
  border-radius: .3em;
  font-size: var(--fs-p);
  font-weight: var(--fw-h3);
  text-transform: uppercase;
  padding: 26px 88px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__button:hover, .contact__button:focus {
  background-color: #05786E;
}

.contact__button-svg {
  margin: 0 0 0 10px;
}

@media (max-width: 1920px) {
  .contact__inner {
    text-align: center;
    max-width: 1200px;
  }
  .contact__big-img {
    max-width: 1200px;
  }
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    padding-bottom: 100px;
  }
  .contact__first-content {
    width: 835px;
    text-align: center;
    margin: 0 auto;
  }
  .contact__description {
    margin-top: 30px;
  }
  .contact__second-content {
    text-align: start;
    width: 835px;
    margin: 50px auto 0;
  }
  .contact__textarea {
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .contact__inner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contact__big-img {
    max-width: 100vw;
    border-radius: 0;
  }
  .contact__first-content {
    width: 600px;
    text-align: center;
  }
  .contact__second-content {
    width: 600px;
  }
  .contact__input {
    width: calc(600px - 45px);
  }
  .contact__textarea {
    margin-bottom: 50px;
    width: calc(600px - 45px);
  }
}

@media (max-width: 640px) {
  .contact__content {
    margin-top: 30px;
    padding-bottom: 80px;
  }
  .contact__first-content {
    width: 300px;
  }
  .contact__heading {
    font-size: 26px;
    font-weight: 500;
  }
  .contact__description {
    font-size: 18px;
    font-weight: 400;
  }
  .contact__second-content {
    width: 300px;
  }
  .contact__input {
    width: calc(300px - 45px);
    padding: 10px 20px;
  }
  .contact__textarea {
    margin-bottom: 30px;
    width: calc(300px - 45px);
  }
  .contact__button {
    padding: 14px 56px;
  }
}
/*# sourceMappingURL=style.css.map */